.teamContainer {
  width: 100%;
}

.teamContainer .header-section {
  margin-bottom: 50px;
}

.teamContainer .header-section .small-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #3e64ff;
  text-align: center;
}

.teamContainer .header-section .title {
  font-weight: 700;
  font-size: 45px;
  align-self: center;
  text-align: center;
}

.sliderTeam {
  display: flex !important;
  flex-direction: row !important;
}
